.card-apply{
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-size: 40px;
    font-weight: 500;
}


.cards{
    /* box-sizing: border-box; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.card-elder{
    width: 45%;
    color: white;
    /* border: 1px solid white; */
    background: rgb(13,6,31);
background: linear-gradient(180deg, rgba(13,6,31,1) 0%, rgba(16,9,33,1) 5%, rgba(23,16,40,1) 46%, rgba(36,29,52,1) 100%);
    padding: 23px;
    padding-top:32px;
    border-radius: 20px;
}

.card-image{
    width: 100%;
}

.card-heading{
    
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    /* color: rgb(155, 155, 155); */
    padding-bottom: 20px;
    font-size: x-large;
    font-weight: 500;
}

.card-description{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    padding-bottom: 30px;
    line-height: 25px;
}


@media (max-width:481px){
    .card-elder{
        width: 100%;
        margin-bottom: 20px;
    }
}